gevent
django
hg+https://bitbucket.org/Jeffrey/gevent-websocket#egg=gevent-websocket
hg+https://bitbucket.org/Jeffrey/gevent-socketio#egg=gevent-socketio
SQLAlchemy
Fabric
celery
django-celery
django-autoslug
