{% extends "report.html" %}

{% block title %}H. sapiens chr. 14{% endblock %}

{% block example-menu-li-class %}active{% endblock %}

{% block logo_class %}dark_bg_link{% endblock %}

{% block header %}H. sapiens chr. 14{% endblock %}

{% block extra_extra_head %}
{% endblock %}

{% block extra_content %}
    <script>
        $(function() {
            $('#subheader').hide();
        })
    </script>
{% endblock %}

{% block genome_info %}
{#    <h3><a class="header_link" href="http://gage.cbcb.umd.edu/data/Hg_chr14/">Data set</a></h3>#}
    {#        <li><a href="{% url h_sapiens_reference %}">Reference genome</a> downloaded from NCBI (H. sapiens chr. 14 genomic contig, GRCh37.p10)#}
{#        <li><a href="{% url h_sapiens_genes %}">Genes</a>#}
    <p>
        <p>Genome size: 88.3<span class="rhs"> </span>Mbp. The genome is <a href="h.sapiens_chr14_reference.fasta">
            <i>H. sapiens</i> chr. 14 genomic contig, GRCh37.p10</a>
            (taken from <a href="http://www.ncbi.nlm.nih.gov/nuccore/224514933?report=fasta">NCBI<span class="leading_link_dot">.</span></a>)
        </p>

        <p>1449 genes. <a href="h.sapiens_chr14_genes.txt">Annotations</a> are taken from the <a href="http://genome.ucsc.edu/cgi-bin/hgTables">UCSC Genome Browser<span class="leading_link_dot">.</span></a>
        </p>

        <p><a href="http://gage.cbcb.umd.edu/data/Hg_chr14/">The data set and all of its assemblies</a> are taken from <a href="http://genome.cshlp.org/content/early/2012/01/12/gr.131383.111">Salzberg <i>et al.,</i> 2011<span class="leading_link_dot">.</span></a>
        </p>
    </p>
{% endblock %}

{% block after_content %}
    <br>
    <br>
    <div class="bottom-line"></div>
    <p style="max-width: 400px;"><i>
    Supplementary material for <a href='http://dx.doi.org/10.1093/bioinformatics/btt086'>Gurevich et al (2013), Bioinformatics</a>.<br>
    <br>
    Some of the assemblers in that study have new releases.
    </i></p>
{% endblock %}