{% extends "base.html" %}

{% block title %}QUAST paper{% endblock %}

{% block logo_class %}dark_bg_link{% endblock %}

{% block content %}
    <br>
    <br>
    <h1>Supplementary material for the paper</h1>

    <p style="max-width: 530px;">
    The paper is avaiable at Bioinformatics: <a href='http://dx.doi.org/10.1093/bioinformatics/btt086'>http://dx.doi.org/10.1093/bioinformatics/btt086</a>
    <br>
    <br>
    <br>
{#    <h3 style="margin-bottom: 8px;">Supplementary material</h3>#}
    QUAST reports for the data sets and assemblers considered in the paper:

    <p><a href="e.coli">E. coli</a><br><br>
       <a href="h.sapiens_chr14">H. sapiens, chromosome 14</a><br><br>
       <a href="b.impatiens">B. impatiens (bumblebee)</a>
    </p>

    <p style="max-width: 530px;">
    Some of the assemblers in that study have new releases.
    </p>

{% endblock %}