{% extends "base.html" %}

{% block title %}QUAST paper{% endblock %}

{% block logo_class %}dark_bg_link{% endblock %}

{% block content %}
    <br>
    <br>
    <h1>Supplementary material for the paper</h1>

    <p style="max-width: 400px;">
    Here are the full QUAST reports for the datasets and assemblers considered in for <a href='http://dx.doi.org/10.1093/bioinformatics/btt086'>Gurevich et al (2013), Bioinformatics</a>:
    </p>

    <p><a href="e.coli">E. coli</a><br><br>
       <a href="h.sapiens_chr14">H. sapiens, chromosome 14</a><br><br>
       <a href="b.impatiens">B. impatiens (bumblebee)</a>
    </p>

    <br>
    <p style="max-width: 400px;">
    Some of the assemblers in that study have new releases. Please see our other example reports for more up-to-date comparisons.
    </p>

{% endblock %}