{% extends "base-quast.html" %}

{% block title %}SPAdes {{ version }} on GAGE-B data sets{% endblock %}

{% block logo_class %}dark_bg_link{% endblock %}

{% block content %}
    <br>
    <br>
    <h1>SPAdes {{ version }} on GAGE-B data sets</h1>
    <p>
    <a href='b.cereus'>B. cereus contigs</a> and <a href='b.cereus-scaffolds'>scaffolds</a>
    </p>
    <p>
    <a href='m.abscessus'>M. abscessus contigs</a> and <a href='m.abscessus-scaffolds'>scaffolds</a>
    </p>
    <p>
    <a href='r.sphaeroides'>R. sphaeroides contigs</a> and <a href='r.sphaeroides-scaffolds'>scaffolds</a>
    </p>
    <p>
    <a href='v.cholerae'>V. cholerae contigs</a> and <a href='v.cholerae-scaffolds'>scaffolds</a>
    </p>

{% endblock %}