body {
    min-width: 800px;
    width: 100%;
    /*border: 1px solid green;*/
}

.layout-table td.layout-table-fst-td {
    width: 50%;
}


.menu-table {
    margin: 0 0 0 136px;
    padding: 1em 20px 1em 0;
}
.menu-table > tr > td:first-child {
/*{#        margin-left: -0.8em;#}*/
}
.menu-table a {
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    border: 0px;
}
.menu-table a span {
    font-size: 1em;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid;
    border-color: #AAA;
}
.menu-table a:hover {
    color: #DDDDDD;
    text-decoration: none;
}
.menu-table a:hover span {
    border-color: #CCC;
}

.active, .active:hover, .active:visited {
    pointer-events: none;
    cursor: text;
    color: white;
    border: 0px;
}

#login_link {
    color: #0099C5;
    text-shadow: none;
    border-bottom: 1px dashed #0077B5;
    /*border-color: #487b95;*/
    /*border-color: rgba(12, 79, 114, 1);*/
}
#login_link:hover {
    text-decoration: none;
    color: #b33 !important;
    border-bottom: 1px dashed #b33 !important;
}

/* Footer */
.footer {
    margin-bottom: 15px;
    margin-left: 150px;
    /*display: none;  *//* become visible by script when page loaded */
    padding-top: 50px;
}
.bottom-line {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 73px;
/*{#        margin: 100px 80px 15px 0;#}*/
    border-bottom: 1px #D0D0D0 solid;
}
a.icon_link {
    border: 0px solid black;
    display: block;
    opacity: 0.5;
}
a.icon_link:hover {
    opacity: 1;
}
.admin_icon {
    background: url("/static/img/small_lock_icon.gif") no-repeat;
    height: 16px;
    width: 10px;
    display: block;
/*{#        margin-right: 17px;#}*/
    bottom: 0px;
    float: right;
}
.copyright {
    opacity: 0.5;
    float: left;
}
.email {
    opacity: 0.5;
}
.footer_link a, .footer_link a:visited{
    color: black;
    border-color: #888;
}
.footer_link a:hover, .footer_link:hover a {
    opacity: 1;
    color: black;
    border-color: #000;
}

/*.beta {*/
    /*font-size: 0.6em;*/
    /*font-weight: normal;*/
    /*font-style: italic;*/
    /*margin-left: 4px;*/
    /*vertical-align: super;*/
/*}*/
.beta {
    font-size: 0.9em;
    font-weight: lighter;
    /*font-style: italic;*/
    /*margin-left: 6px;*/
    /*vertical-align: super;*/
}

.yellow_block {
    background-color: #fffccf;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: -148px;
    /*border-radius: 5px;*/
}

tr.yellow_tr {
    font-size: 1.1em;

    background-color: #fffccf;
    border-radius: 5px;
}

tr.yellow_tr td {
    background-color: #fffccf; /*f4f379;*/
    /*padding: 10px;*/
}