
a.btn:visited {
    color: white;
}
a.btn:hover {
    color: white;
}
a.btn:active {
    color: white;
}
#header {
    display: none;
}
.blue-panel {
    background-color: AliceBlue;
    width: 100%;
    /*border: 1px solid red;*/
    margin-left: -203px;
    padding-left: 200px;
    margin-top: 3px;
}