<html>
<body>
    <a style="font-size: 1.2em;" href="http://cab.cc.spbu.ru/quast{{ link }}">
        {% if caption %}
            {{ caption }}
        {% else %}
            http://cab.cc.spbu.ru/quast{{ link }}
        {% endif %}</a><br>
    <br>
    <br>
    {% if error %}{{ error }}<br>
        <br>{% endif %}
    {% if genome %}Genome: {{ genome }}<br>
        <br>{% endif %}
    {% if comment %}Comment: {{ comment }}<br>
        <br>{% endif %}
    <br>
    In case of any problems, feel free to reply to this message.<br>
    <br>
    QUAST: a quality assessment tool for genome assemblies, <a href="http://cab.cc.spbu.ru/quast">http://cab.cc.spbu.ru/quast</a>
    {{ add_to_end }}
</body>
</html>
