<html>
<head></head>
<body>
    <a href="http://quast.bioinf.spbau.ru{{ link }}">
        {% if caption %}
            {{ caption }}
        {% else %}
            http://quast.bioinf.spbau.ru{{ link }}
        {% endif %}
    </a><br>
    <br>
    {% if genome %}Genome: {{ genome }}<br><br>{% endif %}
    {% if comment %}Comment: {{ comment }}<br><br>{% endif %}
    In case of any problems, feel free to reply to this message<br>
    <br>
    -<br>
    In case of any problems, feel free to reply to this message.<br>
    <br>
    <a href="http://quast.bioinf.spbau.ru">QUAST</a>: a quality assessment tool for genome assemblies
    {{ add_to_end }}
</body>
</html>
