<html>
<head></head>
<body>
    <span style="font-size: 1.2em;">
        <a href="{{ link }}">Visit your page</a> with quality assessment reports
    </span><br>
    <br>
    <br>
    <span style="color: #a9a9a9">If you didn't want this email, please, just ignore it.</span><br>
    <br>
    -<br>
    In case of any problems, feel free to reply to this message.<br>
    <br>
    QUAST: a quality assessment tool for genome assemblies, <a href="http://quast.bioinf.spbau.ru">http://quast.bioinf.spbau.ru</a>
</body>
</html>
