.uploader-div {
    /*float: left;*/
    margin-right: 20px;
    margin-bottom: 20px;
}

.small-upload-drop-area {
    min-width: 200px;
}

.upload-drop-area {
    min-width: 285px;
}

.upload-drop-area, .small-upload-drop-area {
    margin-top: 10px;
    /*margin-right: 5px;*/
    padding-left: 15px;
    padding-right: 5px;
    /*float: left;*/

    min-height: 11em;
    max-height: 11em;
    z-index: 10;
    overflow-y: scroll;

    /*background: #E8E8E8;*/
    /*background: #FAFAD4;*/ /* #FCFCCA; */
    border: 1px dashed #AAA;
    /*border-radius: 7px;*/
    /*-moz-border-radius: 7px;*/
    /*-webkit-border-radius: 7px;*/
    /*-khtml-border-radius: 7px;*/

    vertical-align: middle;
    /*color: #AAA;*/
}

.upload-drop-area:hover, .small-upload-drop-area:hover {
    border-color: #444;
}

.upload-drop-area p, .small-upload-drop-area p {
    /*margin-top: 4.7em;*/
    text-align: center;
}

.upload-drop-area:hover p, .small-upload-drop-area:hover p {
    /*color: #444;*/
}

.upload-drop-area-active {
    /*background: #E8E8E8;*/
    /*background: #FCFCA2;*/
    border-color: #444;
    /*color: #444;*/
}

.upload-list-div {
    padding: 0;
    margin: 0;
    /*border: 1px solid red;*/
}

.upload-list {
    /*margin: 5px 10px 5px 0px;*/
    padding: 0;
    /*border: 1px solid red;*/
    list-style: none;
}
.upload-list li {
    margin: 0;
    padding: 0;
    margin-right: 20px;
    display: block;
    line-height: 15px;
    font-size: 12px;
    /*float: left;*/
}

a.btn {
    color: white;
}

#add-data_set-wrapper {
}
.submit-wrapper {
}

#id_name_created {
    width: 301px;
}
#id_name_selected {
    width: 308px;
}

.qq-upload-remove {
    font-size: 0.9em;
}

#id_min_contig {
    width: 80px;
}

.qq-uploader > button {
    margin-left: 0;
}

.form_table td {
    padding-right: 20px;
    padding-bottom: 1em;
    vertical-align: baseline;
    white-space: nowrap;
}

.form_table {
    margin-left: -2px;
}

ul.errorlist {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #b33;
}
ul.errorlist li {
    margin-bottom: 0.7em;
    list-style-type: none;
}
ul.errorlist li:after {
    content: ',';
}
ul.errorlist li:last-child:after {
    content: '.';
}

#add-data-set-toggle-link {
    width: 100%;
    margin: -20px -10px -15px -10px;
    padding: 10px 10px 0 10px;
    height: 30px;
    cursor: pointer;
}

.form-layout-table input {
    font-size: 1em;
}

.form-layout-table {
    padding: 0;
    margin-left: -80px;
    white-space: nowrap;
}
.form-layout-table td.form-layout-td {
    vertical-align: top;
    padding-top: 9px;
    /*border: 1px solid red;*/
}
.form-layout-table tr>.form-layout-td:first-child {
    width: 64px;
    padding-top: 13px;
    text-align: left;
    padding-right: 10px;
}

#evaluate-button-wrapper {
    float: left;
    /*margin-right: -10px;*/
    margin-left: -10px;
    margin-top: 0px;

    width: 305px;
    padding: 10px 8px 10px 10px;

    /*background: #bce8f1;*/
    /*background: #b4daff;*/
    background: PowderBlue;

    -moz-border-radius: 10px;
    border-radius: 10px;
}

h2 {
    font-weight: normal;
    font-size: 1.8em;
}

h3 {
    font-weight: normal;
    font-size: 1.2em;
}

.comment_to_field {
    font-size: 0.9em;
    width: 310px;
    white-space: normal;
}

#form-wrapper {
    /*max-width: 350px;*/
}