
a.btn:visited {
    color: white;
}
a.btn:hover {
    color: white;
}
a.btn:active {
    color: white;
}
#header {
    display: none;
}
.blue-panel {
    background-color: PowderBlue;
    width: 100%;
    /*border: 1px solid red;*/
    margin-left: -203px;
    padding-left: 200px;
    margin-top: 3px;
}

#login_block {
    display: block;
    margin-top: 25px;
    margin-bottom: 30px;
}

#login_form {
    margin-bottom: 20px;
}

#is_authorized_div {
    margin-left: -2px;
    margin-bottom: 5px;
}

#email_label {
    margin-left: -50px;
    margin-right: 13px;
}

#email_input {
    width: 260px;
    height: 22px;
    font-size: 16px;
    margin-bottom: 7px;
    margin-right: 6px;
}

#email_submit {
    /*margin-top: 1px;*/
    margin-left: -3px;
    margin-bottom: 8px;
}

#email_comment {
    margin-left: -3px;
    margin-top: 0px;
    max-width: 290px;
    font-size: 1em;
}

#login_error {
    color: FireBrick;
    display: none;
    margin-left: -2px;
    margin-top: 2px;
    margin-bottom: 10px;
}

#login_msg {
    color: #259217;
    display: none;
    margin-left: -2px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.yellow_block {
    display: none;
}