
.table_reports {
    margin-left: -28px;
    white-space: nowrap;
}
.table_reports tr td:first-child {
    width: 20px;
}
.table_reports tr {
    /*line-height: 2em;*/
}
.table_reports td {
    padding-bottom: 20px;
}
.table_reports td div {
    padding-bottom: 5px;
}
.state_pending {
    background-color:#FFF9B5;
    padding: 0px 3px;
    margin-left: -3px;
}
.state_failure {
    color: red;
}

.highlighted_tr td:first-child+td {
    /*background-color: #2f5b96;*/
    /*color: white;*/
}
.highlighted_tr td:first-child+td span {
    /*background-color: #2f5b96;*/
    /*padding: 1px 1px 1px 5px;*/
    /*margin-left: -5px;*/
}
.highlighted_tr td:first-child {
    /*background-color: #2f5b96;*/
    /*color: white;*/
}
.highlighted_tr td:first-child a {
    /*color: white;*/
}

.blocks_reports {
}

.report_block {
    float: left;
    /*margin-bottom: 50px;*/
    margin-right: 30px;
    width: 200px;
    height: 200px;
    overflow: scroll;
}

.report_block div {
    margin-top: 5px;
}