{% extends "base.html" %}

{% block title %}Quality Assessment{% endblock %}

{% block assess-menu-li-class %}active{% endblock %}

{% block header %}Assess assembly quality{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" action="/assess/" method="post">{% csrf_token %}
        {{ form.as_p }}
{#        <p>Contigs</p>#}
{#        <input id="contigs-file" type="file" class="file-input" name="contigs">#}
{#        <p>Reference</p>#}
{#        <input id="reference-file" type="file" class="file-input" name="reference">#}
{#        <p>Genes</p>#}
{#        <input id="genes-file" type="file" class="file-input" name="genes">#}
{#        <p>Operons</p>#}
{#        <input id="operons-file" type="file" class="file-input" name="operons">#}

        <input type="submit" value="Assess" />
    </form>
{% endblock %}