{% extends "base.html" %}

{% block title %}Quality Assessment{% endblock %}

{% block assess-menu-li-class %}active{% endblock %}

{% block header %}Assess assembly quality{% endblock %}


{% block extra_head %}
    <link href="/static/uploader/fileuploader.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
    <div id="contigs-uploader">
        <noscript>
            <p>Please enable JavaScript to upload files.</p>
        </noscript>
    </div>

    <div id="reference-uploader">
        <noscript>
            <p>Please enable JavaScript to upload files.</p>
        </noscript>
    </div>

    <label>
        <input class="btn" onclick="assessBtnClicked();" value="Assess quality" style="margin-top: 0"/>
    </label>

    <script src="/static/uploader/fileuploader.js" type="text/javascript"></script>
    <script>
        var contigsUploader, referenceUploader;

        function createUploaders() {
            contigsUploader = new qq.FileUploader({
                element: document.getElementById('contigs-uploader'),
                action: '/uploadContigsFile'
            });
            referenceUploader = new qq.FileUploader({
                element: document.getElementById('reference-uploader'),
                action: '/uploadReferenceFile'
            });
        }

        function assessBtnClicked() {
            if (uploader.getInProgress() > 0) {

            }
        }

        window.onload = createUploaders;
    </script>
{% endblock %}