<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="Quast assembly assessment tool"/>
<meta name="author" content="Algorithmic Biology Lab"/>
<link href="/static/img/{% if debug %}favicon_debug{% else %}favicon{% endif %}.ico" rel="shortcut icon" type="image/x-icon">

<script type="text/javascript" src="/static/jquery-1.8.2.min.js"></script>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/static/common.css"/>
<link rel="stylesheet" href="/static/base.css"/>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript">
    $.event.add(window, "load", resizeContent);
    $.event.add(window, "resize", resizeContent);

    function resizeContent() {
        var h = $(window).height();
        var w = $(window).width();
        $(".content").css('min-height', (h-210));
        $(".footer").css('display', 'block');
    }

    resizeContent();
</script>

{% block extra_head %}{% endblock %}

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35127857-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</head>

<body>
    <div class='top-panel'>
        <table class="layout-table">
            <tr>
            <td class='layout-table-td'>
                <div style="width: 100%;" class="page_title";>
                    <h1 style='letter-spacing: .10em;'>
                        <a href="/" class='{% block logo_class %}{% endblock %}'>QUAST</a>
                    </h1>

                    <div style='width: 100%;' class="page_subtitle">
                        <p><b>Quality Assessment Tool for Genome Assemblies</b>
                            by <a href="http://bioinf.spbau.ru/en" class='dark_bg_link'>Center for Algoritmic Biotechnology</a>
                        </p>
                    </div>
                </div>
            </td>
            </tr>
        </table>
    </div>

    <div class='content'>
        {% block content %}{% endblock %}
    </div>


    <div class='footer'>
        <table class='layout-table'>
            <tr>
                <td colspan="2">
                    <div class="bottom-line"></div>
                </td>
            </tr>
            <tr>
                <td class='layout-table-td layout-table-fst-td'>
                    <span class='copyright'>© Center for Algoritmic Biotechnology</span>
                </td>

                <td class='layout-table-td layout-table-snd-td'>
                    <table style="margin: -4px;
                                  vertical-align: top;
                                  padding: 0 16px 0 0;
                                  width: 100%;">
{#                                  border: 1px solid red;">#}
                        <tr>
                            <td style="padding-right: 20px;">
                                <span class='email'><a href="mailto:{{ support_email }}">{{ support_email }}</a></span>
                            </td>
                            <td style="padding-right: 50px;">
                                <a class='icon_link' id="admin_link" style="" href="/admin/"><span class="admin_icon">&nbsp;</span></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>
