<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="Quast assembly assessment tool"/>
<meta name="author" content="Algorithmic Biology Lab"/>
<link href="/static/img/{% if debug %}favicon_debug{% else %}favicon{% endif %}.ico" rel="shortcut icon" type="image/x-icon">

<script type="text/javascript" src="/static/jquery-1.8.2.min.js"></script>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/static/common.css"/>
<link rel="stylesheet" href="/static/base.css"/>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript">
    $.event.add(window, "load", resizeContent);
    $.event.add(window, "resize", resizeContent);

    function resizeContent() {
        var h = $(window).height();
        var w = $(window).width();
        $(".content").css('min-height', (h-210));
        $(".footer").css('display', 'block');
    }

    resizeContent();
</script>

{% block extra_head %}{% endblock %}

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35127857-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</head>

<body>
   <div class='top-panel'>

    <table class="layout-table">
{#        <ul class='menu'>#}
{#            <li class='{% block    index-menu-li-class %}{% endblock %}'><a href='/'>             <span>About <span class='.smallcapitals'>QUAST</span></span></a></li>#}
{#            <li class='{% block evaluate-menu-li-class %}{% endblock %}'><a href='/evaluate/'>    <span>Quality assessment                             </span></a></li>#}
{#            <li class='{% block  reports-menu-li-class %}{% endblock %}'><a href='/reports/'>     <span>Latest reports                                 </span></a></li>#}
{#            <li class='{% block  example-menu-li-class %}{% endblock %}'><a href='/example/'>     <span>Example                                 </span></a></li>#}
{#        </ul>#}
{#        <span class='clear_float'></span>#}
        <tr>
        <td class='layout-table-td layout-table-fst-td'>
            <div style="width: 100%;">
                <h1 style='letter-spacing: .10em; margin-right: -.10em;'>
                    <a href="/" class='{% block logo_class %}{% endblock %}'>QUAST</a><span class='beta'> β</span>
                </h1>

                <div style='margin-top: -7px; width: 100%;'>
                    <p><b>QUality ASsesment Tool for Genome Assemblies</b>
                        by <a href="http://bioinf.spbau.ru/en" class='dark_bg_link'>Algorithmic Biology Lab</a>
                    </p>
                </div>
            </div>
        </td>
        </tr>
    </table>
    </div>

{#    <div class='top-panel'>#}
{#        <table class='menu-table'>#}
{#            <tr>#}
{#                <td class='{% block    index-menu-li-class %}{% endblock %}'><a href='/'>             <span>About <span class='.smallcapitals'>QUAST</span></span></a></td>#}
{#                <td class='{% block evaluate-menu-li-class %}{% endblock %}'><a href='/evaluate/'>    <span>Quality assessment                             </span></a></td>#}
{#                <td class='{% block  reports-menu-li-class %}{% endblock %}'><a href='/reports/'>     <span>Latest reports                                 </span></a></td>#}
{#                <td class='{% block  example-menu-li-class %}{% endblock %}'><a href='/example/'>     <span>Example                                        </span></a></td>#}
{#            </tr>#}
{#        </table>#}
{#    </div>#}
{#        <li class='{% block    index-menu-li-class %}{% endblock %}'><a href='/'>             <span>About <span class='.smallcapitals'>QUAST</span></span></a></li>#}
{#        <li class='{% block evaluate-menu-li-class %}{% endblock %}'><a href='/evaluate/'>    <span>Quality assessment                             </span></a></li>#}
{#        <li class='{% block  reports-menu-li-class %}{% endblock %}'><a href='/reports/'>     <span>Latest reports                                 </span></a></li>#}
{#        <li class='{% block  example-menu-li-class %}{% endblock %}'><a href='/example/'>     <span>Example                                        </span></a></li>#}

    <div class='content'>
        {% block content %}{% endblock %}
    </div>

{#    <div class='clear_float'></div>#}

{#    <div>#}
{#        <span class='copyright'>© 2012, St. Petersburg Academic University of the Russian Academy of Sciences</span>#}
{#        <a class='icon_link' id="admin_link" href="/admin/">#}
{#            <span class="admin_icon">&nbsp;</span>#}
{#        </a>#}
{#    </div>#}



    <div class='footer'>
        <table class='layout-table'>
            <tr>
                <td colspan="2">
                    <div class="bottom-line"></div>
                </td>
            </tr>
            <tr>
                <td class='layout-table-td layout-table-fst-td'>
                    <span class='copyright'>© 2012, St.&nbsp;Petersburg Academic University</span>
                </td>

                <td class='layout-table-td layout-table-snd-td'>
                    <table style="margin: -4px;
                                  vertical-align: top;
                                  padding: 0 16px 0 0;
                                  width: 100%;">
{#                                  border: 1px solid red;">#}
                        <tr>
                            <td style="padding-right: 20px;">
                                <span class='email'><a href="mailto:{{ support_email }}">{{ support_email }}</a></span>
                            </td>
                            <td style="padding-right: 50px;">
                                <a class='icon_link' id="admin_link" style="" href="/admin/"><span class="admin_icon">&nbsp;</span></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
{#        <div class="second-column" style='border: 1px solid red;'>#}
{#        </div>#}
{#    <div class='clear_float'></div>#}
{#    <div class='footer'>#}
{#        <table>#}
{#            <tr>#}
{#                <td><span class='copyright'>© 2012, St. Petersburg Academic University of the Russian Academy of Sciences&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>#}
{#                <td><span class='email'><a href="mailto:quast.support@bioinf.spbau.ru">quast.support@bioinf.spbau.ru</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>#}
{#                <td><a class='icon_link' id="admin_link" href="/admin/"><span class="admin_icon">&nbsp;</span></a></td>#}
{#            </tr>#}
{#        </table>#}
{#    </div>#}

</body>
</html>
