{#<!-- Base template for all pages with standard Quast header (i.e. non-Icarus) -->#}

{% extends "base.html" %}

{% block website_title %}
    <span style="letter-spacing: .10em;"><img src="/static/img/quast_logo.png" class="logo_img"/></span>
{% endblock %}

{% block website_subtitle %}
    <b>Quality Assessment Tool for Genome Assemblies</b>
    by <a href="http://cab.spbu.ru" class='dark_bg_link'>CAB</a>
{% endblock %}

{% block controls_panel %}
    <td class="layout-table-td" style="vertical-align: bottom">
        <div id='controls_panel'>
            <table class="controls_table">
                <tr style="vertical-align: bottom">
                    <td style="padding-left:15px;font-size:18px">
<a class="docs_link" href="http://cab.cc.spbu.ru/quast/about.html" title="Short information about QUAST, its authors and publications">About</a>
</td>
                    <td style="padding-left:15px;font-size:18px">
<a class="docs_link" href="http://cab.cc.spbu.ru/quast/help.html" title="How to start the analysis and interpret the results">Help</a>
</td>
                    <td style="padding-left:15px;font-size:18px">
<a class="docs_link" href="http://cab.cc.spbu.ru/quast/download.html" title="How to download and install the command-line version of QUAST">Download</a>
</td>
                    <td style="padding-left:15px;font-size:18px">
<a class="docs_link" href="http://cab.cc.spbu.ru/quast/contact.html" title="Reach us for help or bug reports">Contact</a></td>
                </tr>
            </table>
        </div>
    </td>
{% endblock %}
