{#<!-- Base template for all pages with standard Quast header (i.e. non-Icarus) -->#}

{% extends "base.html" %}

{% block website_title %}
    <span style="letter-spacing: .10em;"><img src="/static/img/quast_logo.png" class="logo_img"/></span>
{% endblock %}

{% block website_subtitle %}
    <b>Quality Assessment Tool for Genome Assemblies</b>
    by <a href="http://cab.spbu.ru" class='dark_bg_link'>CAB</a>
{% endblock %}

{% block controls_panel %}
    <td class="layout-table-td" style="vertical-align: bottom">
        <div id='controls_panel'>
            <table class="controls_table">
                <tr style="vertical-align: bottom">
                    <td style="padding-left:15px;font-size:18px">
About
</td>
                    <td style="padding-left:15px;font-size:18px">
Help
</td>
                    <td style="padding-left:15px;font-size:18px">
<a href="https://sourceforge.net/projects/quast/files/">Download</a>
</td>
                    <td style="padding-left:15px;font-size:18px">
<a href="mailto:quast.support@cab.spbu.ru">Contact</a></td>
                </tr>
            </table>
        </div>
    </td>
{% endblock %}
