{% extends "base-quast.html" %}

{% block title %}SPAdes benchmarking{% endblock %}

{% block logo_class %}dark_bg_link{% endblock %}

{% block content %}
    <br>
    <h1 style='margin-bottom: 30px;'>Comparison of assemblers</h1>

    <h3 style='font-weight: bold; font-size: 16px; /*font-family: Georgia serif;*/'>On single-cell <i>E. coli</i> data set (for contigs ≥ 500 bp)
    </h3>

    <div style='margin-left: -28px;'>
        <img src='/static/img/posting_ecoli_sc_table.png'/>
    </div>
    <br>
    <br>
    <br>

    <h3 style='font-weight: bold; font-size: 16px; /*font-family: Georgia serif;*/'>On normal (multicell) <i>E. coli</i> data set (for contigs ≥ 500 bp)
    </h3>
    <div style='margin-left: -22px;'>
    <img src='/static/img/posting_ecoli_mc_table.png'/>
    </div>
{% endblock %}