{% extends "base-quast.html" %}

{% block title %}Contact us{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/docs.css" />
{% endblock %}

{% block content %}
    <h2>Contact</h2>
    <p>Feel free to contact us if you have questions or want to report a bug or suggest a new feature. The most recommended way is to create an <a href="https://github.com/ablab/quast/issues">issue</a> or start a <a href="https://github.com/ablab/quast/discussions">discussion</a> at our GitHub repository. In this case, the whole QUAST user community can react or see an answer afterward. Alternatively, you may reach us privately via <a href="mailto:quast.support@cab.spbu.ru" class="email">quast.support@cab.spbu.ru</a> or direct message our <a href="https://twitter.com/quast_bioinf">Twitter account</a>.</p>
    <p>Before writing to us, please check the <a href="http://cab.cc.spbu.ru/quast/help.html">Help</a> page, the <a href="http://cab.cc.spbu.ru/quast/manual.html#sec7">FAQ section</a> of the manual, and <a href="https://github.com/ablab/quast/issues?q=is%3Aissue">existing issues</a> at GitHub. Thank you!</p>
{% endblock %}
