{% extends "report.html" %}

{% block title %}QUAST{% endblock %}

{% block index-menu-li-class %}active{% endblock %}

{% block logo_class %}active{% endblock %}

{% block brand-link-class %}disabled{% endblock %}

{% block data_set_info %}<p class='data_set_title'>E.coli, single-cell</p>{% endblock %}

{% block before_report_extra_head %}
    <script src="/static/ajaxuploader/fileuploader.js" xmlns="http://www.w3.org/1999/html"></script>
    <link href="/static/ajaxuploader/fileuploader.css" media="screen" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="/static/chosen/chosen.css" />
    <link rel="stylesheet" href="/static/evaluate.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/static/index.css"/>
    <link rel="stylesheet" href="/static/reports.css"/>

    <script src="/static/chosen/chosen.jquery.js" type="text/javascript"></script>

    <script>
        $(function() {
            {% if highlight_last %}
                $('.highlighted_tr').hide().fadeIn('slow');
            {% endif %}
        });

        $(function() {
{#            $(".chzn-select").chosen();#}
            $(".chzn-select-deselect").chosen({
                allow_single_deselect:true,
                no_results_text: "No results matched",
            });
        });

        $(function() {
            $('#login_link').click(function() {
                $('#login_block').toggle('fast');
            });

            $('#email_submit').click(function() {
                var login_error = $('#login_error'),
                    login_msg   = $('#login_msg'),
                    email_input = $('#email_input');

                login_error.hide();
                login_msg.html('Sending...');

                var email = email_input.val();
                if (email == '') {
                    login_error.show();
                    login_msg.hide();
                    email_input.focus();
                }
                $.ajax({
                    type: 'GET',
                    url: 'ask_password',
                    dataType: 'text',
                    data: 'email=' + email,

                }).done(function() {
                    login_msg.html(
                       'The link to your page has been sent. Please, check you email.<br>' +
                       'If you don\'t receive a message, please check your junk mail folder.').show();

                }).fail(function(xhr) {
                    login_msg.hide();

                    var msg = 'Error. Try reloading page.';
                    if (xhr.status && xhr.status == 400) {
                        msg = xhr.responseText;
                    }
                    login_error.html(msg).show();
                    email_input.focus();
                });
                return false;
            });

            $('#is_authorized_email').click(function() {
{#                $('#is_authorized_div').toggle();#}
                var login_form = $('#login_form');

                login_form.toggle('fast');
                if (login_form.is(':visible')) {
                    $('#email_input').focus();
                }
            });
        });

        $(function() {
            $("#add-data-set-toggle-link").mouseenter(function() {
                $(this).find('.dotted-link').css('color', '#b33');
                $(this).find('.dotted-link').css('border-bottom', '1px dashed #ffcccc');
                $(this).find('.dotted-link').css('border-color', '1px dashed #ffcccc');
                $(this).find('.dotted-link').css('border-color', 'rgba(255, 0, 0, 0.2)');
            }).mouseleave(function() {
                $(this).find('.dotted-link').css('color', '#0c4f72');
                $(this).find('.dotted-link').css('border-bottom', '1px dashed #487b95');
                $(this).find('.dotted-link').css('border-color', '#487b95');
                $(this).find('.dotted-link').css('border-color', 'rgba(12, 79, 114, 0.2)');
            });

            $('#add-data-set-toggle-link').click(function(event) {
                event.preventDefault();

                var checkBox = $('#id_is_created');
                var addDataSet = $('#add-data_set');

                addDataSet.stop().slideToggle('fast', function() {
                    $('#id_name_created').focus();

                    if (addDataSet.is(':visible')) {
                        checkBox.prop('checked', true);
                    } else {
                        checkBox.prop('checked', false);
                    }
                });
            });
        });

        var submitted = false;

        var allComplete = false;
        var uploaders = [];

        var initContigsFiles = false;

{#        $(window).unload(function() {#}
{#            if (!submitted) {#}
{#                $.ajax({#}
{#                    url: '{% url ajax_delete_session %}',#}
{#                    type: 'GET',#}
{#                    data: { reportId: '{{ report_id }}' },#}
{#                    async: false,#}
{#                });#}
{#            }#}
{#        });#}

        var parameters = [{
            action: 'contigs-ajax-upload',
            removeLink: 'contigs-ajax-remove',
            initializeUploadsLink: 'contigs-ajax-initialize-uploads',
            elementId: '#contigs-uploader',
            multiple: true,
            buttonClass: 'btn',
            buttonTabIndex: 1,
            btnText: 'Add files',
            areaText: 'drop files here',
            areaClass: 'upload-drop-area',
            uploaded: '{% for fname in contigs_fnames %}<li>{{ fname }} &nbsp;' +
                // '<a class="dotted-link" style="font-size: 0.8em;" href="#">Remove</a>' +
                '</li>{% endfor %}',
        },];

        function initUploaders () {
            var evaluateButton = $('#evaluate-button');

            for (var i = 0; i < parameters.length; i++) {
                uploaders.push(new qq.FileUploader({
                    action: parameters[i].action,
                    removeLink: parameters[i].removeLink,
                    initializeUploadsLink: parameters[i].initializeUploadsLink,
                    element: $(parameters[i].elementId)[0],
                    multiple: parameters[i].multiple,
                    maxConnections: 1,
                    buttonClass: parameters[i].buttonClass,
                    buttonTabIndex: parameters[i].buttonTabIndex,
                    reportId: '{{ report_id }}',
                    debug: {% if debug %}true{% else %}false{% endif %},
                    onSubmit: function(id, fileName) {
                        evaluateButton.prop('disabled', false);
                        evaluateButton.removeClass('disabled');
                        var areaText = $('.area-text');
                        areaText.css('display', 'none');
                        allComplete = false;
                    },
                    onComplete: function(id, fileName, responseJSON) {
                        if (responseJSON.success) {
{#                            $('#evaluate-button').prop('disabled', false);#}
{#                            $('#evaluate-button').removeClass('disabled');#}
                        }
                    },
                    onAllComplete: function(uploads) {
                        if (uploads.length > 0) {
{#                            $('#evaluate-button').prop('disabled', false);#}
{#                            $('#evaluate-button').removeClass('disabled');#}
                            var areaText = $('.area-text');
                            areaText.css('display', 'none');
                            allComplete = true;
                        }
                        // uploads is an array of maps
                        // the maps look like this: {file: FileObject, response: JSONServerResponse}
                    },
                    onRemove: function() {
                        var number_of_files = -1;
                        $('.qq-upload-file').each(function(index) {
                            number_of_files++;
                        });

                        if (number_of_files <= 0) {
                            evaluateButton.prop('disabled', true);
                            evaluateButton.addClass('disabled');
                            var areaText = $('.area-text');
                            areaText.css('display', 'block');
                        }
                    },
                    onInitFiles: function(files){
                        var areaText = $('.area-text');
                        if (!files || files.length == 0) {
                            evaluateButton.prop('disabled', true);
                            evaluateButton.addClass('disabled');
                            areaText.css('display', 'block');
                        } else {
                            evaluateButton.prop('disabled', false);
                            evaluateButton.removeClass('disabled');
                            areaText.css('display', 'none');
                            allComplete = true;
                        }
                    },
                    params: {
                        'csrf_token': '{{ csrf_token }}',
                        'csrf_name': 'csrfmiddlewaretoken',
                        'csrf_xname': 'X-CSRFToken',
                    },
                    messages: {
                    },
                    template:
                            '<div class="qq-uploader">' +
                                '<span class="upload-button btn">' + parameters[i].btnText + '</span>' +
                                '<div>' +
                                    '<div class="' + parameters[i].areaClass + '">' +
                                        '<div class="upload-list-div">' +
                                            '<ul class="upload-list"></ul>' +
                                        '</div>' +
                                        '<div class="area-text" style="margin-top: 55px; margin-left: 90px; opacity: 0.5;">' + parameters[i].areaText + '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</div>',
                    fileTemplate:
                            '<li>' +
                            '<span class="qq-upload-file"></span>' +
                            '<span class="qq-upload-spinner"></span>' +
                            '<span class="qq-upload-size"></span>' +
                            '<a class="dotted-link qq-upload-cancel" href="#">cancel</a>' +
    {#                        '<a class="dotted-link qq-upload-remove" href="#" style="opacity: 0.5;"><img src="/static/pics/delete_icon.png" height=7></a>' +#}
                            '<a class="dotted-link qq-upload-remove" href="#">remove</a>' +
                            '<span class="qq-upload-failed-text">Failed</span>' +
                         // '<a class="dotted-link" style="font-size: 0.8em;" href="#">Remove</a>' +
                            '</li>',
                    classes: {
                        // used to get elements from templates
                        button: 'upload-button',
                        drop: parameters[i].areaClass,
                        dropActive: 'upload-drop-area-active',
                        list: 'upload-list',

                        file: 'qq-upload-file',
                        spinner: 'qq-upload-spinner',
                        size: 'qq-upload-size',
                        cancel: 'qq-upload-cancel',
                        remove: 'qq-upload-remove',

                        // added to list item when upload completes
                        // used in css to hide progress spinner
                        success: 'qq-upload-success',
                        fail: 'qq-upload-fail'
                    }
                }));
            }
        }

        $(initUploaders);

        function submitDataSetForm(dataSetForm) {
            document.eval_form.elements['report_id'].value = '{{ report_id }}';

            var evaluateButton = $('#evaluate-button');
            evaluateButton.prop('disabled', true);
            evaluateButton.addClass('disabled');

            var submitMessage = $('#submit_message');

            var check = function() {
                if (allComplete) {
                    if ($('.qq-upload-fail')[0]) {
                        $('#submit_message').html('Some loadings were failed ' +
                                'and the sending was stopped. You may want to' +
                                ' try again after reloading the page. If that doesn\'t' +
                                ' help, please, report us: <a href="mailto:quast.support' +
                                '@bioinf.spbau.ru">quast.support@bioinf.spbau.ru</a>').show();
                        evaluateButton.prop('disabled', false);
                        evaluateButton.removeClass('disabled');
                    } else {
                        var fnames = "";
                        $('.qq-upload-file').each(function(index, element) {
                            fnames += element.innerText;
                            fnames += '\n'
                        });
                        submitted = true;
                        document.eval_form.elements['contigs'].value = fnames;
                        document.eval_form.submit();
                    }
                } else {
                    submitMessage.html('Waiting for contigs to finish loading...').show();
                    setTimeout(check, 500); // check again in a moment
                }
            };
            check();
        }

    //        $('#add-data_set-wrapper').click(
    //            $('#add-data-set-toggle-link').
    //        );


{#    function showHideAddDataset() {#}
{#            $('#add-data-set-toggle-link>a').#}
{#        if ($('#add-data_set').is(':visible')) {#}
{#            $('#add-data_set').hide('fast');#}
{#            $('#dataset-name-select-input').prop('disabled', false);#}
{#            set_selected();#}
{#        } else {#}
{#            $('#add-data_set').show('fast');#}
{#            $('#dataset-name-select-input').prop('disabled', true);#}
{#            set_created();#}
{#        }#}
{#    }#}

    </script>
{% endblock %}

{% block after_report_extra_head %}
    <script type="text/javascript">
        $(function() {
            $('.report_outer_object').css('display', 'none');

            {#        function scroll(event) {#}
            {#            $('.report_outer_object').fadeToggle('fast');#}
            {#            event.preventDefault();#}
            {#            $('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);#}
            {#        }#}

            $('#report_example_anchor').click(function(event){
                var fullReport = $('.report_outer_object');
                var wasHidden = (fullReport.css('display') == 'none');
                if (wasHidden) {
                    fullReport.stop().fadeToggle('fast');
                }
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top + 20}, 500);
            });

            $("#report_example_toggle").click(function(event) {
                var fullReport = $('.report_outer_object');
                var wasHidden = (fullReport.css('display') == 'none');
                fullReport.stop().fadeToggle('fast');
 //               toggleReport();
                if (wasHidden) {
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top + 20}, 500);
                }
            });
        });

        {##}
        {#        function set_selected() {#}
        {#            $('#id_created_or_selected').prop('value', 'selected');#}
        {#        }#}
        {##}
        {#        function set_created() {#}
        {#            $('#id_created_or_selected').prop('value', 'created');#}
        {#        }#}

        {#        $('#another-data-set-input').click(checkAnotherDataSet);#}

        {#        function checkAnotherDataSet() {#}
        {#            var nameSelectInput = $('#id_created'1);#}
        {#            var idCreatedOrSelected = $('id_created_or_selected');#}

        {#            var addDataSet = $('#add-data_set');#}
        {#            if (addDataSet.is(':visible')) { //TODO: CHECK IT!!!!! Maybe needed to check display:none#}
        {#                nameSelectInput.prop('disabled', false);#}
        {#                idCreatedOrSelected.prop('value', 'selected');#}
        {#            } else {#}
        {#                nameSelectInput.prop('disabled', true);#}
        {#                idCreatedOrSelected.prop('value', 'created');#}
        {#            }#}
        {#        }#}
    </script>
{% endblock %}

{% block extra_content %}
    <div id="index" style="margin-top: -3px;">
        <div class="blue-panel">
        <table class="layout-table">
            <tr>
                <td class="layout-table-td layout-table-fst-td" style="vertical-align: top; padding-right: 20px;">
                    <div style=''>
{#                        <div class='row-fluid'>#}
                        <table>
                            <tr>
                            <td style="vertical-align: top; width: 50%; padding-right: 30px;">
                                <div class="" style="padding-right: 10px;">
                                    <p style="margin-top: 11px; font-weight: bold;"><span class='smallcapitals'>QUAST</span>
                                        evaluates genome assemblies by computing various metrics, including</p>
                                    <ul class="list">
                                        <li><span class='define' key='N50'><span class='smallcapitals'>N</span>50</span>,
                                            length for which the collection of all contigs of that length or longer covers at least 50% of assembly length,</li>
                                        <li><span class='define' key='NG50'><span class='smallcapitals'>NG</span>50</span>,
                                            where length of the reference genome is being covered,</li>
                                        <li><span class='define' key='NA50'><span class='smallcapitals'>NA</span>50</span>
                                            and <span class='define' key='NGA50'><span class='smallcapitals'>NGA</span>50</span>,
                                            where aligned blocks instead of contigs are taken,</li>
                                        <li>misassemblies, misassembled and unaligned contigs or contigs bases,</li></li>
                                        <li><span class='define' key='Genes covered'>genes</span> and <span class='define' key='Operons covered'>operons</span> covered.</li>
                                    </ul>
                                </div>
                            </td>
                            <td style="vertical-align: top;">
                                <div class="" style="padding-right: 10px;">
                                    <p style="font-weight: bold;">Builds convenient plots for different metrics</p>
                                    <ul class="list">
                                        <li>cumulative contigs length,</li>
                                        <li>all kinds of N-metrics,</li>
                                        <li>genes and operons covered,</li>
                                        <li><span class='smallcapitals'>GC</span> content.</li>
                                    </ul>
                                    <a class="dotted-link js" id="report_example_anchor" href="#reportexample">Report example</a>
                                    <br>
                                    <br>
                                    <div class="space_2px"></div>
                                    <p>
                                        More details are on <a href='http://bioinf.spbau.ru/en/quast'>the project page</a>
                                        and in <a href='http://dx.doi.org/10.1093/bioinformatics/btt086 '>Gurevich et al (2013), Bioinformatics</a>.
                                        Supplementary <a href='paper'>material</a> for the paper.
                                    </p>
                                </div>
                            <div style="clear: both;"></div>
                            </td>
                            </tr>
                        </table>
{#                        </div>#}
                    </div>
                </td>

                <td class="layout-table-td layout-table-snd-td" style="vertical-align: top;">
                    <div class="row-fluid">
                        <div class="span12" style='max-width: 300px; margin-top: 0px; margin-bottom: 30px;'>
                {#        <div style="float: left; max-width: 300px; margin-top: -10px">#}
                            <p>
                                <a href="https://sourceforge.net/projects/quast/files/" class='btn btn-primary btn-large' style='text-align: left; margin-left: 1px;'>Download console tool</a>
                            </p>
                            <p>
                                For installation details and usage instructions,
                                please read <a href="manual.html">the manual</a>.<br>
                            </p>
                            <p style="margin-top: 30px;"><i>
                                We will be thankful if you help us make <span class='smallcapitals'>QUAST</span> better by sending your comments, bug reports, and suggestions
                                to&nbsp;<a href="mailto:quast.support@bioinf.spbau.ru">quast.support@bioinf.spbau.ru</a>.
                            </i></p>
                        </div>

{#                        <div class='span6' style="max-width: 300px; padding-left: 40px; padding-right: 30px;">#}
{#                            <p><b>7 Oct 2012</b><br> <span style="margin-left: -0.4em;">”</span>QUAST: Quality Assessment for Genome Assemblies” paper was submitted to <a href="http://bioinformatics.oxfordjournals.org/">Bioinformatics</a>.</p>#}
{#                        </div>#}
                    </div>
                </td>
            </tr>
        </table>
        </div>
        <div class="yellow_block">
        <table class="layout-table">
            <tr class="yellow_tr">
                <td class="layout-table-td layout-table-fst-td" >
                    <div style="max-width: 500px; margin-left: 148px;">
                    <b style="font-size: 2em;">QUAST 2.1 released</b><br>
                    <p>
                        Improved indels computation: now counting consecutive single nucleotide
                        indels as a single indel.
                        <p>
                        Reporting short (≤ 5<span class="rhs">&nbsp;</span>bp) and
                        long (> 5<span class="rhs">&nbsp;</span>bp) indels; total length of all indels is reported as well.
                    </div>
                </td>
                <td class="layout-table-td layout-table-snd-td" >
                    <div style="max-width: 500px; margin-left: 73px; margin-top: 1em;">
                    <b>We fixed some important bugs:</b><br>
                        <div class="space_10px"></div>
                    — in the code for finding misassemblies,<br>
                        <div class="space_10px"></div>
                    — in the SNPs detection algorithm,<br>
                        <div class="space_10px"></div>
                    — in processing circular chromosomes procedure (affects genome fraction, # genes, # operons)
                    </div>
                </td>
            </tr>
        </table>
        </div>
    </div>

    <div style="clear: both;"></div>

    <div style="height: 30px;">
    </div>

    <div id="quality_assessment">
{#        <p>#}
{#            <a style="font-size: 2em;" href="evaluate">Quality Assessment</a>#}
{#        </p>#}

        <noscript>
            <div><br>
                Unfortunately, <span style="font-weight: bold">JavaScript</span> in your browser <span style="font-weight: bold">is disabled</span> or is not supported.</br>
                We need JavaScript to process data and build reports.
            </div>
        </noscript>

        <table class="layout-table">
            <tr>
            <td class="layout-table-td layout-table-fst-td">
                <h2 style='font-size: 1.8em; font-weight: normal;'>Quality Assessment</h2>

                <div id='form-wrapper'>
                    <table class='form-layout-table'>
                        <tr>
                            <td class='form-layout-td' style="padding-top: 3px;">
                                <div style="padding-top: 13px;">Assemblies</div>
                            </td>

                            <td class='form-layout-td'>
                                <div id="contigs-uploader" class="uploader-div" style="margin-bottom: 10px; height: 175px;"></div><div style="clear: both"></div>
                            </td>
                        </tr>
                    </table>
                    <form enctype="multipart/form-data" name='eval_form' id="eval_form" action="/" method="POST">{% csrf_token %}
                        <div style="display: none;">
                            {{ qs_form.contigs }}
                        </div>

                        <div style="display: none;">
                            {{ qs_form.report_id }}
                        </div>

                        <label for="id_min_contig"> {% comment %}@declare id="id_min_contig"{% endcomment %}
                            Skip contigs shorter than
                            <span style='font-size: 8px;'>{{ qs_form.min_contig }} </span>bp<br>
                            {{ qs_form.min_contig.errors }}
                        </label>

                        <br>

                        <label for="id_scaffolds"> {% comment %}@declare id="id_scaffolds"{% endcomment %}
                            {{ qs_form.scaffolds }} {{ qs_form.scaffolds.label|safe }}
                            <div class="space_1px"></div>
                            <div class="comment_to_field" style="margin-left: 18px; max-width: 500px;">{{ qs_form.scaffolds.help_text|safe }}</div><br>
                        </label>

                        <label for="id_find_genes"> {% comment %}@declare id="id_find_genes"{% endcomment %}
                            {{ qs_form.find_genes }} {{ qs_form.find_genes.label }}
                         {# <div class="space_1px"></div> #}
                         {# <div class="comment_to_field" style="margin-left: 20px;">{{ qs_form.find_genes.help_text }}</div><br>#}
                        </label>

                        <br>
                        <br>

                        {% for choice in qs_form.domain %}
                            <label>
                                {{ choice.tag|safe }}
                                {{ choice.choice_label|safe }}<br>
                            </label>
                        {% endfor %}

                        <div class="space_1px"></div>
                        <div class="comment_to_field">{{ qs_form.domain.help_text|safe }}</div><br>

                        <div class="space_10px"></div>

                        <table class='form-layout-table'>
                            <tr>
                                <td class='form-layout-td' style="padding-top: 0px;">
                                    <div style="padding-top: 13px;">Genome</div>
                                </td>

                                <td class='form-layout-td'>{% comment %}@declare id="id_name_selected"{% endcomment %}
                                    <label for="id_name_selected">
                                        {{ qs_form.name_selected }}
                                    </label>
                                    <div style="display: none">
                                        {{ qs_form.name_selected.errors }}
                                    </div>
{#                                    <div id="unknown_data_set">#}
{#                                        <label for="unknown_data_set_input">#}
{#                                            <input type="checkbox" tabindex="4" id="unknown_data_set_input"/>#}
{#                                            Unknown data set#}
{#                                        </label>#}
{#                                    </div>#}
                                    <div style="height: 2px;"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class='form-layout-td' style="padding-top: 9px;"></td>

                                <td class='form-layout-td'>
                                    <div id="add-data-set-toggle-link" style="margin-left: -15px; padding-left: 15px;">
                                        <div style="margin-left: 0px;">
                                            <label for="id_is_created">
                                                {{ qs_form.is_created }}
{#                                                <input type="checkbox" tabindex="7" class='dotted-link' name="is_created" id="id_is_created"/>#}
    {#                                                {{ qs_form.created_or_selected }}#}
                                                <a class='dotted-link'>Another genome</a>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div id="add-data_set" style="display: none;">
                            <table class='form-layout-table'>
                                <tr>{% comment %}@declare id="id_name_created"{% endcomment %}
                                    <td class='form-layout-td'><label for='id_name_created'>Name</label></td>
                                    <td class='form-layout-td'>{{ qs_form.name_created }}<span style='font-size: 8px;'>&nbsp;</span><br>
                                        <div class="comment_to_field">{{ qs_form.name_created.help_text|safe }}</div>
                                        {{ qs_form.name_created.errors }}
                                        <br>
                                    </td>
                                </tr>
                                <tr>{% comment %}@declare id="id_reference"{% endcomment %}
                                    <td class='form-layout-td'><label for='id_reference'>Reference</label></td>
                                    <td class='form-layout-td'>{{ qs_form.reference }}
                                        {{ qs_form.reference.errors }}
                                        <div class="comment_to_field">{{ qs_form.reference.help_text|safe }}</div><br>
                                    </td>
                                </tr>
                                <tr>{% comment %}@declare id="id_genes"{% endcomment %}
                                    <td class='form-layout-td'><label for='id_genes'>Genes</label></td>
                                    <td class='form-layout-td'>{{ qs_form.genes }}
                                        {{ qs_form.genes.errors }}
                                        <div class="comment_to_field">{{ qs_form.genes.help_text|safe }}</div><br>
                                    </td>
                                </tr>
                                <tr>{% comment %}@declare id="id_operons"{% endcomment %}
                                    <td class='form-layout-td'><label for='id_operons'>Operons</label></td>
                                    <td class='form-layout-td'>{{ qs_form.operons }}
                                        {{ qs_form.operons.errors }}
                                        <div class="comment_to_field">{{ qs_form.operons.help_text|safe }}</div><br>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br>

                        <table class='form-layout-table'>
                            <tr>{% comment %}@declare id="id_caption"{% endcomment %}
                                <td class='form-layout-td'><label for='id_caption'>Caption</label></td>
                                <td class='form-layout-td'>{{ qs_form.caption }}
                                    <div class="comment_to_field">Will appear in the report.
                                    </div><br>
                                </td>
                            </tr>
                        </table>

                        <div class="submit-wrapper">
                            <div id='errors-wrapper' style="display: block">
                                {{ qs_form.non_field_errors }}
                            </div>

                            <div id="evaluate-button-wrapper">
                                <input id='evaluate-button'
                                       class="btn btn-large btn-inverse"
                                       name="submitButton"
                                       tabindex="13"
                                       type="submit"
                                       value="Evaluate"
                                       onclick="submitDataSetForm('eval_form'); return false;">
                                <div style="visibility: {% if highlight_last %}visible{% else %}hidden{% endif %};
                                            float: right;"
                                     id="{{ report_link }}">
                                    <p>
{#                                        <a href="{{ latest_report_link}}">Report</a>#}
                                    </p>
                                </div>
                                <div id='submit_message' style="display: none; color: #2c2c2c; padding-top: 8px;">
                                </div>
                            </div>

                            <div style="clear: both"></div>
                        </div>
                    </form>
                </div>
            </td>


            <td class="layout-table-td layout-table-snd-td">
                <div id="latest_reports" style="margin-left: 0px; margin-top: 10px;">
{#                    <div style="margin-top: 25px; margin-left: -2px; margin-bottom: 5px;">#}
{#                        <a class="dotted-link js" id="login_link">Log in</a>#}
{#                    </div>#}

                    <div id="login_block">
                        <div id="is_authorized_div"
                             style="display: {% if not is_authorized %}none{% else %}block{% endif %};">
                            <a class="dotted-link js" id="is_authorized_email">{{ email }}</a>
                        </div>

                        <form id="login_form"
                              style="display: {% if is_authorized %}none{% else %}block{% endif %};">

                            <label for="email_input" id="email_label">Email</label>
                            <input type="text" name="email" id="email_input">
                            <input type="submit" value="Get personal page" id="email_submit" class='btn'>

                            <div id="login_error"></div>
                            <div id="login_msg"></div>

                            <div class="comment_to_field" id="email_comment"
                                 style="display: {% if is_authorized %}none{% else %}block{% endif %};">
                                We will email you a&nbsp;link to&nbsp;your&nbsp;page with your quality
                                assessment reports.<br>
                                <div class="space_7px"></div>
                                We will also notify you when your report is&nbsp;finished,
                                and&nbsp;contact you if any problems arise.<br>
                                <div class="bottom-line" style="width: 100%; margin-bottom: 5px; margin-left: 0px;"></div>
                                If you leave the email address blank, your reports are going to be visible
                                for your browsing session.<br>
                                <br>
                            </div>
                        </form>
                    </div>

                    {% if quast_sessions|length > 0 %}
                    <table style="margin-left: -5px;">
                        <tr>
{#                            <td class='form-layout-td' style="padding: 0px; padding-right: 0px; vertical-align: top;">#}
{#                                <h3 style="margin-top: 3px; ">Reports&nbsp;&nbsp;</h3>#}
{#                            </td>#}
{#                            <div style="float: left; margin: -12px 25px 0 0;">#}
{##}
{#                            </div>#}
                            <td>
                                <table id='table_reports' style="margin-top: -5px;">
                                    {% if quast_sessions %}
                                    <tr class='reports_header_tr'>
                                        <td>
                                            <span style="font-size: 1.2em;"><a href="/reports/">Reports</a></span>
                                        </td>
                                        <td>
                                            Assemblies
                                        </td>
                                        <td>
                                            Genome
                                        </td>
                                    </tr>

                                    <tr class='reports_line_tr'>
                                        <td colspan="3" style="border-top: 1px solid #bbb;"></td>
                                    </tr>
                                    {% endif %}

                                    {% for quast_session in quast_sessions %}
                                    <tr{% if highlight_last and forloop.counter == 1 %} class='highlighted_tr' style="display: none;"
                                        {% else %} class=''{% endif %}>
                                        <td class='caption_td wrapword' style="width: 170px;">
                                            <div>
                                                <div>
{#                                                    <div style="width: 40px; float: left;">#}
{#                                                    </div>#}
                                                    <a href="{{ quast_session.report_link }}">
                                                        {% if quast_session.caption %}
                                                            {{ quast_session.caption|truncatewords:20|truncatechars:200 }}
                                                        {% else %}
                                                            {{ quast_session.date|date:'d M Y, H:i' }}
                                                        {% endif %}
                                                    </a>
                                                </div>

                                                {% if quast_session.caption %}
                                                    <div style="margin-top: 3px;">
                                                        {{ quast_session.date|date:'d M Y, H:i' }}
                                                    </div>
                                                {% endif %}

                                                {% if quast_session.state == 'PENDING' %}
                                                    <div style="margin-top: 3px;"><span class="state_pending">in progress</span></div>
                                                {% elif quast_session.state == 'FAILURE' %}
                                                    <div style="margin-top: 3px;"><span class="state_failure">failed</span></div>
                                                {% endif %}
                                            </div>

                                        </td>
                                        <td class='contigs_td wrapword'>
                                            {% if quast_session.contigs %}
                                                <div>
                                                    {#                                                            <div style="clear: both"></div>#}
                                                    {#                                                            <div style="float: left; width: 70px;">Contigs:</div>#}
                                                    {#                                                            <div style="margin-left: 70px;">#}
                                                    {% for contig in quast_session.contigs %}
                                                        <div style="margin-bottom: 5px;">{{ contig }}</div>
                                                    {% endfor %}
                                                    {#                                                            </div>#}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class='genome_td wrapword'>
                                                {% if quast_session.data_set_name %}
                                                    <div style="margin-bottom: 5px;">
{#                                                            <div style="float: left; width: 70px;">Genome:</div>#}
{#                                                            <div style="margin-left: 70px;">#}
                                                            {{ quast_session.data_set_name|truncatechars:100 }}
{#                                                            </div>#}
{#                                                            <div style="clear: both"></div>#}
                                                    </div>
                                                {% endif %}
                                        </td>
                                    </tr>
{#                                        <td>#}
{#                                            {% if quast_session.with_data_set %}<span>{{ quast_session.dataset_name }}</span>{% endif %}#}
{#                                        </td>#}
{#                                        </td>#}
{#                                        <td>#}
{#                                            {% if quast_session.caption %}{{ quast_session.caption|truncatechars:50 }}{% endif %}#}
{#                                        </td>#}
                                    {% endfor %}
{#                                    {% if show_more_link %}#}
{#                                        <tr><td></td></tr>#}
{#                                        <tr><td><a href="/reports/">Older reports</a></td></tr>#}
{#                                    {% endif %}#}
{#                                    <tr>#}
{#                                        <td>&nbsp;</td>#}
{#                                    </tr>#}
                                    {% if quast_sessions %}
                                    <tr style="height: 19px;"><td></td></tr>
                                    <tr class='reports_line_tr'>
                                        <td colspan="3" style="border-top: 1px solid #bbb;"></td>
                                    </tr>
                                    {% endif %}
                                </table>

                                <div style="clear: both;"></div>
                            </td>
                        </tr>
                        {% if quast_sessions %}
                        <tr><td>
                        <span style='margin-left: -1px;'>The reports are visible only for you.</span>
                        </td></tr>
                        {% endif %}
                    </table>

                    <script>
                        function set_report_table_widths() {
                            var table_reports = $('#table_reports');
                            var table_width = table_reports.width();
                            var rest_columns_width = (table_width-200) / 2;
                            var value = rest_columns_width + 'px';
                            $('.genome_td').css('width', value);
                            $('.contigs_td').css('width', value);
                        }
{#                        $.event.add(window, "load", set_report_table_widths);#}
{#                        $.event.add(window, "resize", set_report_table_widths);#}
                    </script>

                    {% endif %}
                    <div style="clear: both;"></div>
                </div>
            </td>
            </tr>
        </table>

        <div style="clear: both;"></div>

        <br><br><br>

         {# anchor #}
        <span id="reportexample"></span>
        <h2><a class='dotted-link js' id='report_example_toggle' href="#reportexample" tabindex="14">Report Example</a></h2>
        <p class='report_outer_object' style='font-weight: bold;'>E. coli single-cell assemblies</p>
    </div>
{% endblock %}

{% block after_content %}
    <p>You can also see a <a href='e.coli-single-cell'>comparison of more assemblers</a> on this data set (MDA single-cell <i>E. coli</i>).</p>
    <p>There is an <a href='e.coli-isolate'>assessment of the same assemblers</a> working with isolate <i>E. coli</i> data set as well.</p>
{% endblock %}

