{% extends "base.html" %}

{% block extra_head %}
    <script type="text/javascript" src="/static/scripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/scripts/flot/jquery.flot.js"></script>
    <!–[if lte IE 8]><script type="text/javascript" src="/static/scripts/flot/excanvas.min.js"></script><![endif]–>

    <script type="text/javascript" src="/static/scripts/build_total_report.js"></script>
    <script type="text/javascript" src="/static/scripts/draw_commulative_plot.js"></script>
    <script type="text/javascript" src="/static/scripts/draw_nx_plot.js"></script>
    <script type="text/javascript" src="/static/scripts/number_to_pretty_string.js"></script>
    <script type="text/javascript" src="/static/scripts/draw_genes_plot.js"></script>
    <script type="text/javascript" src="/static/scripts/build_report.js"></script>

    <script type="text/javascript">
        $(document).ready(buildReport);
    </script>

    <style type='text/css'>
        .report-and-plots {
            margin-top: 20px;
        }
        #report {
            float: left;
            margin-bottom: 50px;
            margin-right: 100px;
        }
        #report td {
            padding: 0 1em 0 0;
            margin:  0;
        }
        #report * {
            white-space: nowrap;
        }
        .json-code {
            display: none;
        }
        .plots {
            float: left;
            margin-left: -125px;
        }
        .plot {
            margin-bottom: 40px;
        }
        .plot-header {
            margin-left: 124px;
            font-weight: bold;
            height: 1.5em;
            display: block;
        }
        .plot > div {
            width: 580px;
            height: 400px;
        }
    </style>
{% endblock %}

{% block content %}
<div id='header'>
    <h1>Quast report</h1>
    <div id='subheader'></div>
</div>

<div class='report-and-plots'>
    <div id='report'>
    </div>

    <div class='plots'>
        <div id='commulative-plot-div'>
        </div>
        <div id='nx-plot-div'>
        </div>
        <div id='ngx-plot-div'>
        </div>
        <div id='nax-plot-div'>
        </div>
        <div id='ngax-plot-div'>
        </div>
        <div id='genes-plot-div'>
        </div>
        <div id='operons-plot-div'>
        </div>
    </div>

    <div class='json-code'>
        <div id='report-json'>
            {{ report }}
        </div>
        <div id="contigs-lengths-json">
            {{ contigsLenghts }}
        </div>
        <div id='aligned-contigs-lengths-json'>
            {{ alignedContigsLengths }}
        </div>
        <div id='assemblies-lengths-json'>
            {{ assembliesLengths }}
        </div>
        <div id='reference-length-json'>
            {{ referenceLength }}
        </div>
        <div id='contigs-json'>
            {{ contigs }}
        </div>
        <div id='genes-json'>
            {{ genes }}
        </div>
        <div id='operons-json'>
            {{ operons }}
        </div>
    </div>
</div>
{% endblock %}