{% extends "base-quast.html" %}

{% block logo_class %}dark_bg_link{% endblock %}

{% block title %}
    {% if title|length <= 100 %}{{ title }}
    {% else %}{{ title|truncatechars:97 }}...
    {% endif %} | QUAST
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/report.css"/>

    <script type="text/javascript" src="/static/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="/static/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="/static/flot/jquery.flot.dashes.js"></script>

    <script type="text/javascript" src="/static/scripts/build_total_report_common.js"></script>
    <script type="text/javascript" src="/static/scripts/build_total_report.js"></script>
    <script type="text/javascript" src="/static/scripts/draw_cumulative_plot.js"></script>
    <script type="text/javascript" src="/static/scripts/draw_nx_plot.js"></script>
    <script type="text/javascript" src="/static/scripts/draw_frc_plot.js"></script>
    <script type="text/javascript" src="/static/scripts/draw_gc_plot.js"></script>
    <script type="text/javascript" src="/static/scripts/draw_genes_plot.js"></script>
    <script type="text/javascript" src="/static/scripts/build_report_common.js"></script>
    <script type="text/javascript" src="/static/scripts/build_report.js"></script>

    <script type="text/javascript" src="/static/dragtable.js"></script>

    <script type="text/javascript">
        var colors = ["#FF0000", "#0000FF", "#008000", "#A22DCC",  "#FFA500",  "#800000",
        "#00CCCC",  "#B2DF8A",  "#333300",  "#CCCC00",  "#000080",  "#008080", "#00FF00"];
        var broken_scaffolds_labels = {{ broken_scaffolds }};
    </script>

    {% block before_report_extra_head %}{% endblock %}

    <script type="text/javascript">
        {% if title %}
            document.title ="{% if title|length <= 100 %}{{ title }}{% else %}{{ title|truncatechars:97 }}...{% endif %} | QUAST";
        {% endif %}

        $(function() {
            document.reportId = '{{ report_id }}';

            buildReport();

            dragTable.init();

            $('[rel=tooltip]').tooltip({
                animation: false,
            });
        });
    </script>

    {% block after_report_extra_head %}{% endblock %}

{% endblock %}

{% block content %}

    {% block extra_content %}<br><br>{% endblock %}

    <div class='report_outer_object'>
        <div id='header'>
            <table style='margin: -4px;'>
                <tr>
                    <td style="width: 530px; text-align: left; padding-right: 100px; vertical-align: top;">
                        <h1 id="header_element"
                            style="{% if caption|length > 100 %}
                                      font-size: 1em; padding-top: 12px;
                                   {% elif caption|length > 50 %}
                                      font-size: 1.5em;
                                   {% else %}
                                      font-size: 2em;
                                   {% endif %}">
                            {{ caption|safe }}
                        </h1>

                        {% if data_set %}
                        <p id="data_set_p">
    {#                        <p style="display: none; margin-bottom: -10px;" id="reference_name">Genome:#}
    {#                            {% if data_set.reference_ext %}#}
    {#                                <a href='data-sets/{{data_set.id}}_{{data_set.reference_ext}}'>#}
    {#                                <a href='{% url download_data_set data_set.id data_set.reference_ext %}'>#}
    {#                            {% endif %}#}
    {#                                {{ data_set.title|safe }}#}
    {#                            {% if data_set.reference_ext %}#}
    {#                                </a>#}
    {#                            {% endif %}#}
    {#                        </p>#}

                            {# Get filled in build_total_report.js. #}
                            <span style="display: none;" id="reference_name">Aligned to
                                "<span class='val'></span>"
                            </span>

                            <span style="display: none;" id="est_reference_length">Estimated reference size:
                                <span class='val'></span><span class='rhs'>&nbsp;</span>bp
                            </span>

                            <span style="display: none;" id="reference_length">|
                                <span class='val'></span><span class='rhs'>&nbsp;</span>bp
                            </span>

                            <span style="display: none;" id="reference_fragments">|
                                <span class='val'></span><span class='rhs'>&nbsp;</span>fragment<span style="display: none;" class='plural_ending'>s</span>
                            </span>

                            <span style="display: none;" id="reference_gc">|
                                <span class='val'></span><span class='rhs'>&nbsp;</span>% G+C
                            </span>

                            <span style="display: none;" id="reference_chr">|
                                <span class='val'></span> chromosome<span style="display: none;" class='plural_ending'>s</span>
                            </span>

                            <span style="display: none;" id="reference_genes"><br>
                                <span class='val'></span> genes
                            </span>

                            <span style="display: none;" id="reference_operons">|
                                <span class='val'></span> operons
                            </span>

    {#                        <span style="display: none;" id="reference_genes"><br>#}
    {#                            {% if data_set.genes_ext %}<a href="{% url download_data_set data_set.id 'genes' data_set.genes_ext %}">{% endif %}#}
    {#                            <span class='val'></span> genes{% if data_set.genes_ext %}</a>{% endif %}</span><span style='display: none;'>#}
    {##}
    {#                        </span><span style="display: none;" id="reference_operons">,#}
    {#                            {% if data_set.operons_ext %}<a href="{% url download_data_set data_set.id 'operons' data_set.operons_ext %}">{% endif %}#}
    {#                                <span class='val'></span> operons{% if data_set.operons_ext %}</a>{% endif %}#}
    {#                        </span>#}
                            {################}
                        </p>
                        {% endif %}

                        {% block genome_info %}{% endblock %}

                        {% if not hide_date %}<p id='report_date'></p>{% endif %}

                        <p id='icarus'></p>
                    </td>

                    {% if download %}
                    <td style="text-align: left; vertical-align: top; white-space: nowrap;">
                        <a class='btn' style="margin-top: 20px;" id="download_report" href="{{ download_link }}">
                            Download report
                        </a>
                        <p style="text-align: left;">
                            {% if download_text %}
                                {{ download_text|safe }}
                            {% else %}
                                Text, TSV and Latex versions<br>
                                of the table, plots in PDF.<br>
                                <div class='small_line_indent'></div>
                                Additionally, detailed contigs<br>
                                and genome statistics.
                            {% endif %}
                        </p>
                    </td>
                    {% endif %}
                </tr>
            </table>

{#            {% if download %}#}
{#            <br>#}
{#            {% endif %}#}

            <p id='extrainfo'>Loading...</p>
            <div id="extended_link"></div>
        </div>

        <noscript>
            <div><br><br>
                Unfortunately, <span style="font-weight: bold">JavaScript</span> in your
                browser <span style="font-weight: bold">is disabled</span> or is not supported.<br>
                We need JavaScript to build report and plots.
            </div>
        </noscript>

        <div class='report-and-plots'>
            <div class='report' id='main_report'>
                <div id="heatmap_header" style='display: none;'>
                    <div style="padding-right: 10px; display: inline-block; vertical-align:top;">
                        <canvas id="gradientHeatmap" width="150" height="6"></canvas>
                        <div style="margin-left: 0; text-align: justify;">
                            <span class="heatmap_legend">Worst</span>
                            <span style="margin-left: -5px;" class="heatmap_legend">Median</span>
                            <span class="heatmap_legend">Best</span>
                            <span class="heatmap_legend" style='width: 100%; height: 0;'></span>
                        </div>
                    </div>
                    <label for="heatmaps_chbox"><input type="checkbox" checked="checked" id="heatmaps_chbox">Show heatmap</label>
                </div>
            </div>

            <div class='plots'>
                <table style='margin: -3px;'>
                    <tr id='all-switches'>
                        <td>
                            <div id='plots-switches'></div>
                        </td>
                        <td style='text-align: right; padding-right: 22px;'>
                            <span id='scale-placeholder'></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id='plot-placeholder' style=''></div>
                        </td>
                        <td>
                            <div id='legend-placeholder'></div>
                        </td>
                    </tr>
                    <tr id="plots-into-tr">
                        <td colspan="3" id="plot-caption" style="display: none;">
                            <p id="contigs_are_ordered">Contigs are ordered from largest (contig #1) to smallest.</p>
                            <p id="frc_info">FRCurve:
                                Y is the total number of aligned bases divided by the reference length,
                                in the contigs having the total number of <span class="frc_plot_name"></span> at most X.</p>
                            <p id="gc_info">Contigs are broken into nonoverlapping 100 bp windows.
                                Plot shows number of windows for each GC percentage.</p>
                            <p id="gc_contigs_info">Plot shows number of contigs with GC percentage in a certain range.</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="clear: left"></div>
            <div style="clear: right"></div>

        {#    <div class='blocks'>#}
        {#        <div class='plot-wrapper' id='cumulative-plot-div'>#}
        {#        </div>#}
        {#        <div class='plot-wrapper' id='nx-plot-div'>#}
        {#        </div>#}
        {#        <div class='plot-wrapper' id='ngx-plot-div'>#}
        {#        </div>#}
        {#        <div class='plot-wrapper' id='nax-plot-div'>#}
        {#        </div>#}
        {#        <div class='plot-wrapper' id='ngax-plot-div'>#}
        {#        </div>#}
        {#        <div class='plot-wrapper' id='genes-plot-div'>#}
        {#        </div>#}
        {#        <div class='plot-wrapper' id='operons-plot-div'>#}
        {#        </div>#}
        {#        <div class='plot-wrapper' id='gc-plot-div'>#}
        {#        </div>#}
        {#    </div>#}

            <div class='json-code'>
                <div id='total-report-json'>
                    {{ totalReport }}
                </div>
                <div id='qualities-json'>
                    {{ qualities }}
                </div>
                <div id='main-metrics-json'>
                    {{ mainMetrics }}
                </div>

                <div id="contigs-lengths-json">
                    {{ contigsLengths }}
                </div>
                <div id='assemblies-lengths-json'>
                    {{ assembliesLengths }}
                </div>
                <div id='reference-length-json'>
                    {{ referenceLength }}
                </div>
                <div id='tick-x-json'>
                    {{ tickX }}
                </div>
                <div id='coord-nx-json'>
                    {{ coordNx }}
                </div>
                <div id='coord-ngx-json'>
                    {{ coordNGx }}
                </div>
                <div id='coord-nax-json'>
                    {{ coordNAx }}
                </div>
                <div id='coord-ngax-json'>
                    {{ coordNGAx }}
                </div>
                <div id='coord-misassemblies-json'>
                   {{ coordmisassemblies }}
                </div>
                <div id='features-in-contigs-json'>
                    {{ featuresInContigs }}
                </div>
                <div id='operons-in-contigs-json'>
                    {{ operonsInContigs }}
                </div>
                <div id='gc-json'>
                    {{ gcInfo }}
                </div>
                <div id='glossary-json'>
                    {{ glossary }}
                </div>
                <div id='icarus-json'>
                    {{ icarus }}
                </div>
            </div>
        </div>
    </div>

    {% block after_content %}{% endblock %}

{% endblock %}
