{% extends "base.html" %}

{% block logo_class %}dark_bg_link{% endblock %}

{% block title %}{{ header }}{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="/static/jquery-1.8.2.min.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="/static/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/static/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="/static/flot/jquery.flot.dashes.js"></script>
    <script type="text/javascript" src="/static/dragtable.js"></script>

    <script type="text/javascript" src="/static/scripts/lighter_darker.js"></script>
    <script type="text/javascript" src="/static/scripts/hsvToRgb.js"></script>
    <script type="text/javascript" src="/static/scripts/utils.js"></script>
    <script type="text/javascript" src="/static/scripts/build_total_report.js"></script>
    <script type="text/javascript" src="/static/scripts/draw_cumulative_plot.js"></script>
    <script type="text/javascript" src="/static/scripts/draw_nx_plot.js"></script>
    <script type="text/javascript" src="/static/scripts/draw_gc_plot.js"></script>
    <script type="text/javascript" src="/static/scripts/draw_genes_plot.js"></script>
    <script type="text/javascript" src="/static/scripts/build_report.js"></script>

    <link rel="stylesheet" href="/static/report.css"/>

    {% block before_report_extra_head %}{% endblock %}

    <script type="text/javascript">
        {% if set_title %}
            document.title = "{{ header }} | QUAST";
        {% endif %}

        $(buildReport);

        $(function() {
            $("[rel=tooltip]").tooltip({
                animation: false,
            });
        });
    </script>

    {% block after_report_extra_head %}{% endblock %}

{% endblock %}

{% block content %}
{% block extra_content %}{% endblock %}

<div class='full-report'>
    <div id='header'>
        <br><br>

        <table style='margin: -4px;'>
            <tr>
                <td style="width: 530px; text-align: left; padding-right: 100px; vertical-align: top;">
                    <h1 id="header_element"
                        style="{% if header|length > 100 %}
                                  font-size: 1em; padding-top: 12px;
                               {% else %}{% if header|length > 50 %}
                                  font-size: 1.5em;
                               {% else %}
                                  font-size: 2em;
                               {% endif %}{% endif %}">
                        {% block header %}{% endblock %}
                    </h1>
                    {% if data_set_name %}<p id="dataset_name_p">Genome: {{ data_set_name }}</p>{% endif %}
                    {% if comment %}<p id="comment_p">Comment: {{ comment }}</p>{% endif %}
                    <p id='subheader'>Loading...</p>
                    <p id='mincontig'></p>
                </td>

                {% if download %}
                <td style="text-align: left; vertical-align: top; ">
                    <a class='btn' style="margin-top: 20px;" id="download_report" href="{{ downloadLink }}">
                        Download report
                    </a>
                    <p style="text-align: left;">
                        This report and additionally tables<br>
                        and plots in Latex, PDF and simple text.<br>
                        <div class='small_line_indent'></div>
                        Detailed contigs and genome statistics.
                    </p>
                </td>
                {% endif %}
            </tr>
        </table>

        <br><br>
        <div id="extended_link"></div>
    </div>

    <noscript>
        <div><br><br>
            Unfortunately, <span style="font-weight: bold">JavaScript</span> in your browser <span style="font-weight: bold">is disabled</span> or is not supported.</br>
            We need JavaScript to build report and plots.
        </div>
    </noscript>

    <br>

    <div class='report-and-plots'>
        <div id='report'>
        </div>

        <div class='plots'>
            <table style='margin: -3px;'>
                <tr id='all-switches'>
                    <td>
                        <div id='plots-switches'></div>
                    </td>
                    <td style='text-align: right; padding-right: 22px;'>
                        <span id='scale-placeholder'></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id='plot-placeholder' style=''></div>
                    </td>
                    <td>
                        <div id='legend-placeholder'></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id="contigs_are_ordered">Contigs are ordered from largest (contig #1) to smallest.</p>
                    </td>
                </tr>
            </table>
        </div>

        <div style="clear: left"></div>
        <div style="clear: right"></div>

    {#    <div class='blocks'>#}
    {#        <div class='plot-wrapper' id='cumulative-plot-div'>#}
    {#        </div>#}
    {#        <div class='plot-wrapper' id='nx-plot-div'>#}
    {#        </div>#}
    {#        <div class='plot-wrapper' id='ngx-plot-div'>#}
    {#        </div>#}
    {#        <div class='plot-wrapper' id='nax-plot-div'>#}
    {#        </div>#}
    {#        <div class='plot-wrapper' id='ngax-plot-div'>#}
    {#        </div>#}
    {#        <div class='plot-wrapper' id='genes-plot-div'>#}
    {#        </div>#}
    {#        <div class='plot-wrapper' id='operons-plot-div'>#}
    {#        </div>#}
    {#        <div class='plot-wrapper' id='gc-plot-div'>#}
    {#        </div>#}
    {#    </div>#}

        <div class='json-code'>
            <div id='total-report-json'>
                {{ totalReport }}
            </div>
            <div id='qualities-json'>
                {{ qualities }}
            </div>
            <div id='main-metrics-json'>
                {{ mainMetrics }}
            </div>

            <div id="contigs-lengths-json">
                {{ contigsLenghts }}
            </div>
            <div id='aligned-contigs-lengths-json'>
                {{ alignedContigsLengths }}
            </div>
            <div id='assemblies-lengths-json'>
                {{ assembliesLengths }}
            </div>
            <div id='reference-length-json'>
                {{ referenceLength }}
            </div>
            <div id='genes-in-contigs-json'>
                {{ genesInContigs }}
            </div>
            <div id='operons-in-contigs-json'>
                {{ operonsInContigs }}
            </div>
            <div id='gc-json'>
                {{ gcInfo }}
            </div>
        </div>
    </div>
</div>

{% block after_content %}{% endblock %}

{% endblock %}