{% extends "base.html" %}

{% block logo_class %}dark_bg_link{% endblock %}

{% block title %}
    {% if state == 'PENDING' %}
        Evaluating... | QUAST
    {% else %}
        Error | QUAST
    {% endif %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/static/reports.css">
<script>
    $(function() {
        setTimeout(function(){
            window.location.reload(1);
        }, 5000);
    });
</script>
{% endblock %}

{% block content %}
    <br>
    <br>
    <div>
        <div style='float: left; max-width: 400px; margin-right: 80px;'>
            {% if caption %}
                <p><b>{{ caption }}</b></p>
            {% endif %}

            <div>
                <p>Contigs:</p>
                <ul class="list">
                    {% for fn in fnames  %}
                        <li>{{ fn }}</li>
                    {% endfor %}
                </ul>
            </div>

            {% if data_set_name %}
                <p>Genome: {{ data_set_name }}</p>
            {% endif %}

            {% if state == 'PENDING' %}
                <br>
                <p>
                    <span class="state_pending">Task is being evaluated.</span>
                </p>
                {% if email %}
                    <p>We will send you an email as soon as the report is ready.</p>
                {% endif %}

            {% elif state == 'FAILURE' %}
                <span class="state_failure">Task caused some error. Please, try to restart with another data.</span>
            {% endif %}
        </div>
        <div style='float: left; max-width: 300px; '>
            {% if comment %}
                <p><span>Comment:</span><br>
                {{ comment }}
                </p>
            {% endif %}
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock %}