{% extends "icarus/base-icarus.html" %}

{% block title %}
    {% if title|length <= 100 %}{{ title }}
    {% else %}{{ title|truncatechars:97 }}...
    {% endif %} | Icarus
{% endblock %}

{% block header %}
    <!--[if lt IE 9]>
    <div class="ie_warning">
        Your browser is not supported, please use Internet Explorer 9, Firefox, Safari or Google Chrome (recommended).
    </div>
    <![endif]-->
{% endblock %}

{% block icarus_menu_btn %}
    <div class="btn btn-inverse" id="to_main_menu_button">
        <a href="../icarus.html">Main menu</a>
    </div>
{% endblock %}

{% block controls_panel %}
    <td class="layout-table-td">
        <div id='controls_panel'>
            <table class="controls_table">
                <tr>
                    <td rowspan="2" style="vertical-align: middle; min-width: 450px">
                        <span style="white-space: nowrap;">
                            Move
                            <button id="left_shift" class="btn btn-inverse"><<</button>
                            <button id="left" class="btn btn-inverse"><</button>
                            <button id="right" class="btn btn-inverse">></button>
                            <button id="right_shift" class="btn btn-inverse">>></button>
                        </span>
                        <span style="white-space: nowrap; margin-left: 7px">
                            zoom
                            <button id="zoom_in_5" class="btn btn-inverse">+<span class="rhs"></span>5x</button>
                            <button id="zoom_in" class="btn btn-inverse">+<span class="rhs"></span>2x</button>
                            <button id="zoom_out" class="btn btn-inverse">–<span class="rhs"></span>2x</button>
                            <button id="zoom_out_5" class="btn btn-inverse">–<span class="rhs"></span>5x</button>
                        </span>
                        <td rowspan="2" style="vertical-align: middle;">
                            <span class="coords_div" style="white-space: nowrap">
                                start
                                <select id="select_chr_start" style="display: none"></select>
                                <input class="coords_textbox" id="input_coords_start" type="text"/>
                            </span>
                            <span class="coords_div" style="margin-left: 4px; white-space: nowrap">
                                end
                                <select id="select_chr_end" style="display: none"></select>
                                <input class="coords_textbox" id="input_coords_end" type="text"/>
                            </span>
                        </td>
                    </td>
                </tr>
            </table>
            {% if ms_selector %}
            <span id="misassemblies_selector_panel">
                <div class="text_div" id="misassemblies_checkboxes_div">
                    Show misassemblies:
                    {% for checkbox in ms_selector %}
                    <label><input type="checkbox" id="{{ checkbox.ms_type }}" name="misassemblies_select" checked="checked"/>{{ checkbox.ms_name }} ({{ checkbox.ms_count }})</label>
                    {% endfor %}
                </div>
            </span>
            {% else %}
            <span style="white-space: nowrap;">
                <div class="text_div" style="clear: left" id="contig_threshold_div">
                    Fade contigs shorter than <input class="textBox" id="input_contig_threshold" type="text" size="5"/> bp
                </div>
            </span>
            {% endif %}
        </div>
    </td>
    <td class="last-td">
        <div class="text_div">
            <span id="search_label">Search contig or gene:</span><input id="live_search" placeholder="Enter contig/gene name"/>
        </div>
    </td>
{% endblock %}

{% block content %}
    <div class="reftitle">
        <b>{{ title }}</b>{% if reference or num_contigs_warning %}.{% endif %}
        {% if num_contigs_warning %} For better performance, only largest {{ num_contigs_warning }} contigs of each assembly were loaded{% endif %}
        {% if reference %} Contigs aligned to {{ reference }} {% endif %}
    </div>
    <button id="hideBtnAnnoMini" class="btn moving_button btn-mini" style="display: none; position: absolute;">Hide</button>
    <button id="hideBtnAnnoMain" class="btn moving_button btn-mini" style="display: none; position: absolute;">Show annotation</button>
    <button id="hideBtnCovMini" class="btn moving_button btn-mini" style="display: none; position: absolute;">Hide</button>
    <button id="hideBtnCovMain" class="btn moving_button btn-mini" style="display: none; position: absolute;">Show coverage</button>
    <button id="hideBtnPhysCovMain" class="btn moving_button btn-mini" style="display: none; position: absolute;">Show physical</button>
    <button id="hideBtnPhysCovMini" class="btn moving_button btn-mini" style="display: none; position: absolute;">Show physical</button>
    <div id="logScaleTogglerMain" style="display: none; position: absolute;"></div>
    <div id="logScaleTogglerMini" style="display: none; position: absolute;"></div>
    {% block after_content %}
        <script type="text/javascript">
            window.onbeforeunload = function(){
                window.scrollTo(0,0);
            }
        </script>
            {{ all_data | safe }}
        <script type="text/javascript" src="/static/d3.js"></script>
        <script type="text/javascript" src="/static/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="/static/jquery-ui.js"></script>
        <script type="text/javascript" src="/static/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/scripts/icarus_interface.js"></script>
        <script type="text/javascript" src="/static/scripts/icarus_utils.js"></script>
        <script type="text/javascript" src="/static/scripts/display_icarus.js"></script>
        <script type="text/javascript" src="/static/scripts/build_icarus.js"></script>
    {% endblock %}
{% endblock %}

